@media print {
  body {
    margin: 0;
    background: white;
  }

  .page {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 36px 0 30px;
    box-shadow: none;

    .resume-header,
    .resume-content {
      padding: 0 22px 0 34px;
    }
  }

  .left-column {
    min-height: 900px;
  }

  .work-container {
    .item {
      page-break-inside: avoid;
    }

    ul {
      display: flow-root;
    }
  }

  .education-container {
    page-break-before: always;
  }

  .fa-external-link {
    display: none;
  }
}
